<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../public/js/color_config.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <h2 style="font-size: 17px;" class="absolute text-primary">&nbsp;EZService</h2>

    <div class="text-gray-600 overflow-hidden">
        <i data-lucide="plug" class="absolute top-24 left-60 rotate-[330deg] z-0"></i>
        <i data-lucide="library-big" class="absolute top-[500px] right-20 z-0"></i>
        <i data-lucide="car" class="absolute top-[400px] left-[30vw] rotate-[330deg] z-0"></i>
        <i data-lucide="wrench" class="absolute top-[500px] left-40 rotate-[10deg] z-0"></i>
        <i data-lucide="party-popper" class="absolute bottom-[5px] left-[40%] z-0"></i>
        <i data-lucide="alarm-clock-plus" class="absolute top-[250px] left-[80%] z-0"></i>
        <i data-lucide="house" class="absolute top-[85px] left-[92%] z-0"></i>
        <i data-lucide="person-standing" class="absolute top-[5px] left-[60%] z-0"></i>
        </div>
    <main class="flex items-center justify-center m-2">
    <div class="max-w-md w-full p-5 sm:p-8 bg-gray-100 rounded-xl shadow border-2 border-primary border-dashed">
        <div class="text-center">
            <h2 class="text-3xl font-extrabold">User Registration</h2>
        </div>
        <form id="formsubmit" class="mt-8 space-y-6 text-sm" action="submit" method="POST">
            <div class="rounded-md shadow-sm -space-y-px">
                <p id="errormsg" class="text-red-500 -mt-3">Error message print here</p>
                <div class="pt-2">
                    <label for="user_id" class="sr-only">name</label>
                    <input id="email" name="email" type="text" required class="appearance-none relative block w-full px-3 py-2 border border-gray-400 tracking-wide placeholder-gray-700 rounded focus:outline-none focus:border-primary focus:z-10 sm:text-sm lowercase" placeholder="name" value="">
                </div>
                <div class="pt-2">
                    <label for="user_id" class="sr-only">Email Address</label>
                    <input id="email" name="email" type="email" required class="appearance-none relative block w-full px-3 py-2 border border-gray-400 tracking-wide placeholder-gray-700 rounded focus:outline-none focus:border-primary focus:z-10 sm:text-sm lowercase" placeholder="Email Address" value="">
                </div>
                <div class="pt-2">
                    <label for="user_id" class="sr-only">Mobile Number</label>
                    <input id="email" name="email" type="number" required class="appearance-none relative block w-full px-3 py-2 border border-gray-400 tracking-wide placeholder-gray-700 rounded focus:outline-none focus:border-primary focus:z-10 sm:text-sm lowercase" placeholder="Mobile Number" value="">
                </div>
                <div class="pt-2">
                    <label class="mx-3">
                    <input type="radio" name="gender" value="male"> male</label>
                    <label class="mx-3">
                    <input type="radio" name="gender" value="female"> female</label>
                </div>
                <div class="pt-2">
                    <label for="user_id" class="sr-only">Recidential Address</label>
                    <textarea id="email" name="email" type="text" required class="appearance-none relative block w-full px-3 py-2 border border-gray-400 tracking-wide placeholder-gray-700 rounded focus:outline-none focus:border-primary focus:z-10 sm:text-sm lowercase" placeholder="Recidential Address" value=""></textarea>
                </div>
                <div class="pt-2">
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="password" type="password" required class="appearance-none relative block w-full px-3 py-2 border border-gray-400 placeholder-gray-700 tracking-wide rounded-t-md focus:outline-none focus:border-primary focus:z-10 sm:text-sm lowercase" placeholder="Password" value="">
                </div>
                <div>
                    <label for="password" class="sr-only">Confirm Password</label>
                    <input id="password" name="password" type="password" required class="appearance-none relative block w-full px-3 py-2 border border-gray-400 placeholder-gray-700 tracking-wide rounded-b-md focus:outline-none focus:border-primary focus:z-10 sm:text-sm lowercase" placeholder="Confirm Password" value="">
                </div>
            </div>

            <div>
                <button id="formbtn" type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-primary focus:outline-none mb-5">Register</button>
            </div>
        </form>
        <div class="">
            <h2 class="mb-2">Continue With</h2>
            <div class="flex">
            <button class="py-2 p-5 w-full border border-primary mr-1 rounded-sm tracking-wide text-primary rounded-l-lg">Google</button>
            <button class="py-2 p-5 w-full border border-primary rounded-sm tracking-wide rounded-r-lg text-primary">Facebook</button>
            </div>
        </div>
    </div>
    </main>

    <script>
        lucide.createIcons();
    </script>
</body>
</html>