<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complaint</title>
    <link rel="icon" type="image/png" href="/frontend/public/img/ezservice logo.png">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Custom Tailwind Configuration -->
    <script src="/frontend/public/js/color_config.js"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="font-sans">
    <section class="p-5 bg-white">
        <div class="m-2 p-4 bg-gray-50 border-b rounded hover:border-primary">
            <p class="font-semibold">Regarding to not fulfilled me order</p>
            <p class="text-sm text-gray-600 mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quibusdam veritatis deleniti eos itaque laboriosam. Excepturi, eaque! Doloremque voluptate, excepturi laudantium iusto, laboriosam nostrum quod provident consequuntur animi similique quibusdam.</p>
            <p class="text-sm mt-1">23-05-2024 (evening)</p>
            <button class="bg-primary m-2 py-2 px-3 text-white rounded-sm">Close Complaint!</button>
        </div>
    </section>
    </body>
    </html>