@keyframes pulse-and-spin {
    10% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }

    40% {
        transform: scale(1.5) rotate(180deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

.loading-animation {
    animation: pulse-and-spin 1.5s infinite ease-in-out;
}