<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/frontend/public/js/color_config.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
    <main class="items-center justify-center m-2 md:m-5 rounded-lg bg-white">
        <div>
            <h1 class="text-2xl md:text-4xl font-bold">Complaint Related to Service Provider</h1>
            <p class="text-gray-500 mt-4">Welcome to EZService, your trusted doorstep service provider. We bring
                convenience to your home with fast, reliable, and professional solutions. Book now and enjoy hassle-free
                services at your doorstep!</p>
        </div>
        <div class="max-w-3xl space-y-8 p-5 md:p-10 bg-gray-100 rounded shadow border mx-auto">
            <form id="formsubmit" class="space-y-6 text-sm" action="submit" method="POST">
                <div class="rounded-md shadow-sm">
                    <p id="errormsg" class="text-red-600">Error message print here</p>
                    <div class="my-2">
                        <p class="ml-1 text-gray-500 text-sm">Your Name</p>
                        <input type="text" name="name"
                            class="border outline-none focus:border-primary rounded w-full p-2 text-gray-600">
                    </div>
                    <div class="my-2">
                        <p class="ml-1 text-gray-500 text-sm">Your Email</p>
                        <input type="text" name="email"
                            class="border outline-none focus:border-primary rounded w-full p-2 text-gray-600">
                    </div>
                    <div class="my-2">
                        <p class="ml-1 text-gray-500 text-sm">Select Service Type <span class="text-[10px] text-gray-400">(Against you want to register complaint)</span></p>
                        <select class="border outline-none focus:border-primary rounded w-full p-2 text-gray-600">
                            <option>Select</option>
                            <option>Home Servent</option>
                            <option>Car Sevice</option>
                            <option>Plumbilg</option>
                        </select>
                    </div>
                    <div class="my-2">
                        <p class="ml-1 text-gray-500 text-sm">Select Service Provider <span class="text-[10px] text-gray-400">(Against you want to register complaint)</span></p>
                        <select class="border outline-none focus:border-primary rounded w-full p-2 text-gray-600">
                            <option>Select</option>
                            <option>Pujara Plumbing Service</option>
                            <option>Ananta Plumbing Service</option>
                            <option>Omkar Hardware</option>
                        </select>
                    </div>
                    <div class="my-2">
                        <p class="ml-1 text-gray-500 text-sm">Select Complaint Type</p>
                        <select class="border outline-none focus:border-primary rounded w-full p-2 text-gray-600">
                            <option>Select</option>
                            <option>Misbehavioure issue.</option>
                            <option>Trantaction related issue.</option>
                            <option>Provided service related issue.</option>
                            <option>Something alse.</option>
                        </select>
                    </div>
                    <div class="my-2">
                        <p class="ml-1 text-gray-500 text-sm">Write your Issue here</p>
                        <Textarea rows="3" class="resize-none border outline-none focus:border-primary rounded-sm w-full p-2 text-gray-600"></Textarea>
                    </div>
                </div>
                <div>
                    <button id="formbtn" type="submit"
                        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-primary focus:outline-none mb-5">Submit Complaint</button>
                </div>
            </form>
        </div>
    </main>

    <script>
        lucide.createIcons();
    </script>
</body>

</html>