<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Custom Tailwind Configuration -->
    <script src="/frontend/public/js/color_config.js"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="font-sans">
    <section class="p-5 bg-white">
        <p class="text-gray-800 font-bold text-xl text-green-600">Booked Services</p>
        <div class="m-2 p-4 bg-gray-50 border-b rounded hover:border-primary">
            <p class="font-semibold text-xl">Ananta Plumbing Service</p>
            <p class="leading-none mt-2">issue: <span class="text-sm text-gray-600">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quibusdam veritatis deleniti eos itaque laboriosam. Excepturi, eaque! Doloremque voluptate, excepturi laudantium iusto, laboriosam nostrum quod provident consequuntur animi similique quibusdam.</span></p>
            <div class="flex justify-between">
            <p class="text-sm mt-1">23-05-2024 (evening)</p>
            <p class="text-primary font-semibold">₹2400</p>
            </div>
        </div>
    </section>

    <section class="p-5 bg-white">
        <p class="text-gray-800 font-bold text-xl text-red-600">Fullfilled Services</p>
        <div class="m-2 p-4 bg-gray-50 border-b rounded hover:border-primary">
            <p class="font-semibold text-xl">Oleka Home Cleaning</p>
            <p class="leading-none mt-2">issue: <span class="text-sm text-gray-600">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quibusdam veritatis deleniti eos itaque laboriosam. Excepturi, eaque! Doloremque voluptate, excepturi laudantium iusto, laboriosam nostrum quod provident consequuntur animi similique quibusdam.</span></p>
            <div class="flex justify-between">
            <p class="text-sm mt-1">23-05-2024 (evening)</p>
            <p class="text-primary font-semibold">₹7400</p>
            </div>
        </div>
    </section>
    </body>
    </html>