<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link rel="icon" type="image/png" href="/frontend/public/img/ezservice logo.png">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Custom Tailwind Configuration -->
    <script src="/frontend/public/js/color_config.js"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="flex items-center justify-center h-screen">
    <!-- icons -->
    <div class="text-gray-400 overflow-hidden">
        <i data-lucide="plug" class="absolute top-24 left-60 rotate-[330deg] z-0"></i>
        <i data-lucide="library-big" class="absolute top-[30vh] right-20 z-0"></i>
        <i data-lucide="car" class="absolute top-[50vh] left-[30vw] rotate-[330deg] z-0"></i>
        <i data-lucide="wrench" class="absolute top-[80vh] right-60 rotate-[10deg] z-0"></i>
        <i data-lucide="briefcase-business" class="absolute top-24 right-[25vw] rotate-[330deg] z-0"></i>
        <i data-lucide="dumbbell" class="absolute top-[90vh] left-20 rotate-[330deg] z-0"></i>
        <i data-lucide="scan-heart" class="absolute top-[35vh] left-10 rotate-[330deg] z-0"></i>
        <i data-lucide="party-popper" class="absolute top-[40vh] right-[35%] rotate-[330deg] z-0"></i>
        </div>
    <div class="text-center">
            <h1 class="font-extrabold text-8xl text-primary">404 <img src="/frontend/public/img/error.svg" alt="Error Image" class="mx-auto mb-4 h-20 w-20 -mt-16 mr-20"></h1>
        <h1 class="text-3xl font-bold mb-2 -mt-5">Page not found!</h1>
        <p class="text-gray-600 mb-4">The page you're looking for might have been removed or is temporarily unavailable.</p>
        <a href="/" class="bg-primary text-white px-4 py-2 rounded hover:bg-primary/90">Go Back Home</a>
    </div>
    <script>
        lucide.createIcons();
    </script>
</body>
</html>